@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  @apply bg-gray-200;
}

.date-custom-input,
.time-custom-input {
  @apply cursor-pointer w-full border border-blue-600 rounded-md text-center text-base px-2 py-1 outline-none placeholder:text-black;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
